:root {
  --ruby-red: #A20021;
  --radical-red: #F52F57;
  --sandy-brown: #F79D5C;
  --pumpkin: #F3752B;
  --ghost-white: #EDEDF4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.button {
  font-family: 'Monoton', cursive;
  box-shadow: 3.4px 3.4px 11.9px -13px rgba(0, 0, 0, 0.033),
8.7px 8.7px 26.4px -13px rgba(0, 0, 0, 0.038),
17.7px 17.7px 47.4px -13px rgba(0, 0, 0, 0.043),
36.5px 36.5px 87.1px -13px rgba(0, 0, 0, 0.055),
100px 100px 221px -13px rgba(0, 0, 0, 0.11);
  background-color: var(--ghost-white);
  border: solid 3px var(--sandy-brown);
  padding: 20px 30px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--ruby-red);
}

.container {
  display: flex;
  flex-direction: row;
  margin: auto auto .5rem auto;
  width: fit-content;
  padding: 2rem;
}

.display {
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding: 1rem;
  font-size: 3rem;
  min-width: 100px;
  text-align: center;
  color: var(--ghost-white);
  font-family: "Monoton", cursive;
  transition: 500ms ease;
}

.current {
  font-size: 6rem;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 5rem;
  margin: auto;
  color: var(--ruby-red);
  text-align: center;
}

.increment-decrement {
  padding: 7px 30px;
  background-color: var(--sandy-brown);
  color: var(--ghost-white);
  border: 3px solid var(--pumpkin);
  transition: 500ms ease;
}

.increment-decrement:hover {
  background-color: var(--ghost-white);
  color: var(--sandy-brown);
  border: 3px solid var(--pumpkin);
  transition: 500ms ease;
}

.increment-decrement:focus {
  background-color: var(--ghost-white);
  color: var(--sandy-brown);
  border: 3px solid var(--pumpkin);
  transition: 500ms ease;
}

.increment-decrement:active {
  background-color: var(--ghost-white);
  color: var(--sandy-brown);
  border: 3px solid var(--pumpkin);
  transition: 500ms ease;
}

.left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.new-line {
  display: block;
  background-color: var(--ruby-red);
  width: 100%;
  height: 100%;
  margin: 0;
}

p {
  font-family: "Overpass", sans-serif;
  margin: auto;
  color: var(--radical-red);
  text-align: center;
}

.right {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.small {
  font-size: 1.25rem;
  transition: 500ms ease;
}

.small:hover {
  background-color: var(--sandy-brown);
  border: solid 3px var(--ruby-red);
  color: var(--ghost-white);
  transition: 500ms ease;
}

.small:focus {
  background-color: var(--sandy-brown);
  border: solid 3px var(--ruby-red);
  color: var(--ghost-white);
  transition: 500ms ease;
}

.small:active {
  background-color: var(--sandy-brown);
  border: solid 3px var(--ruby-red);
  color: var(--ghost-white);
  transition: 500ms ease;
}

.saved {
  font-size: 1.25rem;
  font-family: "Overpass", sans-serif;
}

.whole-container {
  height: auto;
  width: 300px;
  background-color: var(--ghost-white);
  border: 10px solid var(--pumpkin)
}