* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  max-width: 500 px;
  height: 500px;
  background-color: red;
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.button {
  font-family: 'Poiret One', cursive;
  box-shadow:
  3.4px 3.4px 11.9px -13px rgba(0, 0, 0, 0.033),
  8.7px 8.7px 26.4px -13px rgba(0, 0, 0, 0.038),
  17.7px 17.7px 47.4px -13px rgba(0, 0, 0, 0.043),
  36.5px 36.5px 87.1px -13px rgba(0, 0, 0, 0.055),
  100px 100px 221px -13px rgba(0, 0, 0, 0.11);
  background-color: rgba (108, 122, 137);
  border: solid 2px black;
  padding: 20px 30px;
  font-size: 2rem4;
}

.left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.right {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.new-line {
  display: block;
}